<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head"); %>
<body>
    <%- include("../partials/header", {pg: 'About'}); %>
    <main>
        <div>
            <h1>About Me</h1>
            <p>Hello, I'am Thulio Barbosa</p>
        </div>
    </main>
    <%- include("../partials/footer"); %>
</body>
</html>