body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fsociedadedospsicologos.files.wordpress.com%2F2021%2F06%2Fnatureza.jpg%3Fw%3D1024&imgrefurl=https%3A%2F%2Fspsicologos.com%2F2021%2F06%2F11%2Fa-natureza-chama-a-psicologia-e-todo-e-qualquer-individuo%2F&tbnid=7FNORiLZpqknZM&vet=12ahUKEwjU_t3S9eD0AhW_H7kGHeVwBy4QMygBegUIARDKAQ..i&docid=ytJ2N7tSbRFrpM&w=1024&h=512&itg=1&q=natureza&ved=2ahUKEwjU_t3S9eD0AhW_H7kGHeVwBy4QMygBegUIARDKAQ");
    background-clip: content-box;
}